/Project/Project1_MasterMind_1 copy/build/
/Project/Project1_MasterMind_1 copy/dist/
/Project/help/build/
/Project/help/dist/
/Project/Project1_MasterMind_V1/build/
/Project/Project1_MasterMind_V1/dist/
/Project/Project1_MasterMind_V2/build/
/Project/Project1_MasterMind_V2/dist/
/Project/Project1_MasterMind_V3/build/
/Project/Project1_MasterMind_V3/dist/