/Project/Project1_MasterMind_1 copy/build/
/Project/Project1_MasterMind_1 copy/dist/
/Project/help/build/
/Project/help/dist/
/Project/Project1_MasterMind_V1/build/
/Project/Project1_MasterMind_V1/dist/
/Project/Project1_MasterMind_V2/build/
/Project/Project1_MasterMind_V2/dist/
/Project/Project1_MasterMind_V3/build/
/Project/Project1_MasterMind_V3/dist/
/Project/Project1_MasterMind_V4/dist/
/Project/Project1_MasterMind_V4/build/
/Lab/LeonCassandra_Midterm/dist/
/Lab/LeonCassandra_Midterm/build/
/Homework/Assignment 5/Savitch_9thEd_Chap5_Prob6_ConvertWeight3/build/
/Homework/Assignment 5/Savitch_9thEd_Chap5_Prob6_ConvertWeight3/dist/
/Homework/Assignment 5/Savitch_9thEd_Chap5_Prob7_ConvertWeight3/dist/
/Homework/Assignment 5/Savitch_9thEd_Chap5_Prob7_ConvertWeight3/build/
/Homework/Assignment 5/Savitch_9thEd_Chap5_Prob8_ConvertWL/build/
/Homework/Assignment 5/Savitch_9thEd_Chap5_Prob8_ConvertWL/dist/
/Project/Project2_MasterMind_V1/build/
/Project/Project2_MasterMind_V1/dist/
/Project/Project 2/Project2_MasterMind_v3/build/
/Project/Project 2/Project2_MasterMind_v3/dist/
/Project/Project 2/Project2_MasterMind_v31/build/
/Project/Project 2/Project2_MasterMind_v31/dist/
/Project/Project 2/Project2_MasterMind_v4/build/
/Project/Project 2/Project2_MasterMind_v4/dist/